* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}


header {

    grid-column: 1/6;
    
    
}

h1 {

    text-align: center;
    justify-self: stretch;
    padding: 10px;
    

}

.container {

    grid-row: 2;
    grid-column: 2/5;
    text-align: center;
    padding: 5%;

}